/* Fonts */
h1, h2, h3, h4, h5, h6, nav, footer {
  font-family: 'Poppins', sans-serif;
}
p, span, ul, ol, button {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
/* Generic Misc */
body{
  padding:0;
  margin:0;
  clear:both;
}
.blur {
  filter: blur(1px);
  transition: 0.5s ease-in-out;
}
.no-blur{
  filter: blur(0px);
  transition: 0.5s ease-in-out;
}

/* Navbar */
.navbar{
  height: 7.5vh;
  max-height: 7.5vh;
}
.navbar-brand{
  padding-left: 0.5em;
}
.nav-logo{
    height: 4.5vh;
}
.nav-item .nav-link{
    transition:  0.5s ease-in-out;
    border-bottom: #ffffff 2px solid;
}
.nav-item:hover .nav-link:hover, .nav-link.active{
    color:#DA291C;
    border-bottom: #DA291C 2px solid;
}
#show-as-list-toggle {
  position: absolute;
  right: 0;
  margin-right: 0.5em;
}
.navbar-toggler:focus {
  box-shadow: unset;
}
.navbar-toggler {
  border: unset;
  padding-right: 0.5em;
}


/* Footer */
footer{
  height: 7.5vh;
  max-height: 7.5vh;
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 3em;
}

/* Main Body */
.main-body{
  max-height: 85vh;
}
.content-container {
  padding: 20px;
}
.inner-content-container {
  padding-bottom: 20px;
}

.justify-text{
  text-align: justify;
}
/* Divs General Structure */ 
  #sidebar-right {
    width: 40%;
    max-height: 85vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .row {
    flex-wrap: nowrap;
    transition: 0.5s ease-in-out;
  }

/* Map Structure */
#map{
  transition: 0.5s ease-in-out;
    display: inline;
    width: 100vw;
    height:85vh;
}
#info-window-left{
  width:66%; 
  display: inline-block;
  vertical-align: top;
}
#info-window-left p {
  margin-bottom: 0.5rem;
}
#info-window-right{
  width:33%; 
  display: inline-block;
  text-align: right;
}
#info-window-right img{
  width: auto;
  height: 116px;
  vertical-align: unset;
}

/* Sidebar List */
#list-content-text {
  width: 80%;
  font-size: 0.8em;
  padding-right: 10px;
}
#list-content-text p {
  margin-bottom: 0.2rem;
}
#list-content-image {
  width: 20%;
}
#list-item {
  display: flex;
  margin: 10px 0 10px;
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 10px;
}
#list-content-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 100px;
  margin-top: 1.7em;
}

/* Intro overlay */
#halt-info-startup {
  position: absolute;
  top: 7.5vh;
  background: #ffffffbd;
  height: 85vh;
  transition: 0.5s ease-in-out;
  max-height: 85vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
#halt-info-startup p, #halt-info-startup ul {
  margin-bottom: 0.5em;
  font-size: 0.9em;
}
.hide-intro-fader {
  opacity: 0;
}
.hide-intro-complete {
  display:none ;
}

/* Buttons */
#get-started {
  padding: 10px 20px 10px 20px;
  border-radius: 12px;
  width: 200px;
  border: 2px solid #DA291C;
  font-weight: 600;
  text-transform: uppercase;
  background: #FFD100;
  transition: 0.2s ease-in-out;
}
#get-started:hover {
  background: #323232;
  color: #FFD100;
}

/* Headings */
h2 {
  font-size: 1.6em;
}
.h3, h3 {
  font-size: 1rem;
  font-weight: 800;
}


  /*Mobile / Tablet CSS*/
  @media only screen and (max-width: 809px) {
    /* Navbar */
    .navbar-brand {
      font-size: 1.5em;
    }
    .nav-logo {
      height: 4.5vh;        
    }
    #navbarNav {
      z-index: 2;
      background: white;
    }
    .nav-item{
      margin:  0 10px 010px;
    }
    /* Map Structure */
    .gm-style-iw.gm-style-iw-c {
      max-width: 95vw !important;
    }
    #info-window-left {
      width: 100%;
      display: inline-block;
    }
    .gm-style-iw-d {
      max-height: 450px !important;
      height: 35vh;
    }  
    #sidebar-right {
      display: none;
    }
    #show-as-list-toggle {
      display: none;
    }
  }
