.navbarNav{
    height: 7.5vh;
    max-height: 7.5vh;
}
.nav-logo{
    height: 4.5vh;
}
.nav-item .nav-link{
    transition:  0.5s ease-in-out;
    border-bottom: #ffffff 2px solid;
}
.nav-item:hover .nav-link:hover{
    color:#DA291C;
    border-bottom: #DA291C 2px solid;
}
footer{
    height: 7.5vh;
    max-height: 7.5vh;
}
#map{
    display: inline;
    width: 100vw;
    height:85vh;
}
.intro-visable {
  transition: 0.5s ease-in-out;
  width: 60% !important;
}
.show {
  transition: 0.5s ease-in-out;
  width: 40%;
}
.hide{
  transition: 0.5s ease-in-out;
  display: none;
}
.row {
  flex-wrap: nowrap;
  transition: 0.5s ease-in-out;
}
  #info-window-left{
    width:66%; 
    display: inline-block;
    vertical-align: top;
  }
  #info-window-left p {
    margin-bottom: 0.5rem;
  }
  #info-window-right{
    width:33%; 
    display: inline-block;
    text-align: right;
  }
  #info-window-right img{
    width: auto;
    height: 116px;
    vertical-align: unset;
  }

  


  /*Tablet CSS*/
  @media only screen and (max-width: 809px) {
    .navbar-brand {
        font-size: 1.5em;
      }
      .nav-logo {
        height: 8.5vh;
      }
      .gm-style-iw.gm-style-iw-c {
        max-width: 95vw !important;
      }
      #info-window-left {
        width: 100%;
        display: inline-block;
      }
      .gm-style-iw-d {
        max-height: 450px !important;
        height: 35vh;
      }
      
  }

    /*Mobile CSS*/
    @media only screen and (max-width: 376px) {
        .nav-logo {
          height: 4.5vh;
        }
        .intro-visable {
          transition: 0.5s ease-in-out;
          width: 100% !important;
        }
        .show {
          transition: 0.5s ease-in-out;
          width: 100%;
        }
      }